{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Francaise{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="/admin">Vous etes administrteur, acceder au back office ?</a><br>
    {% endif %}
    <p>Bienvenu a vous !!!</p>
    <p>vous etes un utilisateur basique</p>
    <a href="{{ path('app_logout') }}"> Deconnexion</a>
    <hr>
{% endblock %}
