{% extends 'base.html.twig' %}

{% block title %}Se connecter - La Boutique Francaise{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/error.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/formulaires.css') }}">
{% endblock %}

{% block content %}
<div class=container>
    <div class="box">
        <div class="content">
            <h1>Login</h1>
        </div>
    </div>
    <div class="form-style">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <fieldset>
                <legend><span class="number">1</span> Login</legend><br>
            <label for="inputEmail">Votre Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre email" autocomplete="email" required autofocus>
            <label for="inputPassword">Votre Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre Mot de passe" autocomplete="current-password" required>
            </fieldset>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <hr>
            <div id="buttonsType">
                <button class="btn btn-block btn-info mt-3" type="submit">
                    Se connecter
                </button>
            </div>
            <hr>
        </form>
    </div>
</div>
{% endblock %}
