{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - A propos de moi meme{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/error.css') }}">
{% endblock %}

{% block content %}
    <div class=container>
        <div class="box">
            <div class="content">
                <!-- Icon Principale -->
                <img src="{{ asset('assets/img/icons/people.png') }}" alt="petit bonhomme">
                <!-- Titre -->
                <h1>A Propos de moi </h1><br>
                <!-- Texte Principale -->
                <p>Passionné et déterminé, j'ai une soif d'expérience inimaginable, je veux monter en compétences et devenir un expert dans le développement  Web & Mobile.
                    Je suis actuellement en alternance chez Passedevant une petite entreprise Nantaise spécialisée dans le SEO.
                    J'évolue en tant que développeur Web principalement avec le langage PHP, mais aussi les basiques tels que le HTML, CSS et JavaScript.
                    Je m'occupe parfois de faire des sites Wordpress pour nos clients.
                    Je suis autodidacte et je ne perds pas une minute pour me former ce que j'ai fait d'ailleurs pendant mes 2 semaines de vacances pour me former sur Symfony et refaire mon site portfolio avec ce framework.
                </p><br><br>
                <!-- Retour Page Principale -->
                <div id="buttonsType">
                    <input type="button" onclick="window.location.href='/'" value="Retour à la page principale." />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
