{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Mes compétences professionnelles{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/competences.css') }}">

{% endblock %}

{% block content %}
    <div class=container>
        <!-- 1er Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/symfony.png') }}" alt="Le logo de symfony framework php">
                <h1>Symfony</h1>
                <small>Ce framework est genial il me simplifie la vie et me fait gagner un temps fou j'ai refait ce site avec ce qui ma permit de le redévelopper en une soirée.
                il manque encore quelques fonctionnalités mais ça va arriver d'ici peu je l'espère.
                </small>
            </div>
        </div>

        <!-- 2e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/javascript.png') }}" alt="logo JavaScript">
                <h2>JavaScript</h2>
                <small>J'utilise très peu a part pour le web pour faire des menus déroulant ou bien de petite animation. Je l'utilise aussi un peu en entreprise pour les formulaires et bien d'autre encore.
                    Avec Symfony il parait qu'on peut utiliser VueJs ou React à voir.
                </small>
            </div>
        </div>

        <!-- 3e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/html-5.png') }}" alt="logo html">
                <h2>HTML & CSS </h2>
                <small>Deux langages que j'ai beaucoup manipulés, je me sens à l'aise avec eux c'est la base pour faire des sites internets. Après c'est pas ce que je préfère mais toujours amusant et créatif</small>
            </div>
        </div>

        <!-- 4e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/python-logo-clipart-python-logo-clojure-javascript-9-1152.png') }}" alt="logo Python">
                <h2>Python</h2>
                <small>Ce langage est INCROYABLE, j'en avais déjà entendu parler, depuis je l'adore bon, je suis débutant, mais on peut faire tellement de choses avec lui !</small>
            </div>
        </div>

        <!-- 5e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/dart.svg') }}" alt="logo Dart">
                <h2>Dart & Flutter</h2>
                <small>J'ai commencé mais j'ai un peu laissé de coter depuis l'alternance mais une technologie très intéressante</small>
            </div>
        </div>

        <!-- 6e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/php.png') }}" alt="logo Php">
                <h2>PHP</h2>
                <small>J'utilise PHP en entreprise pour développer une application web je me sens à l'aise avec lui. Mais depuis que j'ai gouté à Symfony j'avoue que le pur me tente plus trop.<small>
            </div>
        </div>

        <!-- 7e Bloque -->
        <a class="box" href="/">
            <div class="content">
                <img src="{{ asset('assets/img/icons/exit.png') }}" alt="pancarte de sortie">
                <h2>Exit ?</h2>
                <small>Retourner à la page principale.</small>
            </div>
        </a>


    </div>
{% endblock %}
