{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Formulaire de contact{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/error.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/formulaires.css') }}">
{% endblock %}

{% block content %}
    <!-- Bloque Principale -->
    <div class=container>
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/contact-us.png') }}" alt="icon Contact">
                <h1>Contactez-Moi</h1>
                <p>Attention cette page ne fonctionne pas encore</p>
            </div>
        </div>
        <!-- Formulaire -->
        <div class="form-style">
            <form>
                <fieldset>
                    <legend><span class="number">1</span> Messages</legend>
                    <input type="text" name="nom" placeholder="Nom">
                    <input type="text" name="prenom" placeholder="Prenom">
                    <input type="text" name="entreprise" placeholder="Entreprise">
                    <input type="email" name="Email" placeholder="Email">
                    <input type="email" name="CEmail" placeholder="Confirmation Email">
                    <input type="text" name="Objet" placeholder="Objet">
                    <textarea id="Area" name="message" placeholder="Quel est votre message ?" maxlength="500"></textarea>
                </fieldset>
                <input type="submit" value="Envoyer" />
            </form>
        </div><br>
        <div id="buttonsType">
            <input type="button" onclick="window.location.href='/'" value="Retour à la page principale." />
        </div>
    </div>
{% endblock %}
