{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Mon curriculum-vitae{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/error.css') }}">

{% endblock %}

{% block content %}
    <!-- Bloque Principale -->
    <div class=container>
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/clipboard.png') }}" alt="icon clipboard">
                <h1>Curriculum Vitae</h1><br>
            </div>
        </div>
        <!-- Image correspondant a mon CV -->
        {% for curriculum in curriculums %}
            <div class="col-md-4">
                <img id="CV" src="/uploads/{{ curriculum.path }}" alt="{{ curriculum.name }}">
            </div>
        <!-- Bloque pour les 2 boutons  -->
        <div id="buttonsType">
            <input type="button" onclick="window.location.href='/uploads/{{ curriculum.downloadToPdf }}'" value="Télécharger mon CV" /><br><br>
            {% endfor %}
            <input type="button" onclick="window.location.href='/'" value="Retour à la page principale." />
        </div>
    </div>

{% endblock %}
