{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Mes expériences professionnelles{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/experiences.css') }}">

{% endblock %}

{% block content %}
    <!-- Bloc Principale -->
    <div class="container">
        <!-- 1er Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/professions-and-jobs.png') }}" alt="Sac de travail">
                <h1>Travail Etudiant</h1>
                <small>Carrefour PGC / Drive<br> Mise en rayon des produits & Livraison Drive. Travail d'une durée de 2 mois sur 2 ans consécutif</small>
            </div>
        </div>
        <!-- 3e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/passedevant.png') }}" alt="Passedevant">
                <h2>Développeur Web Passedevant</h2>
                <small>Je suis alternant en tant que développeur je m'occupe d'une application web, mais aussi de faire des wordpress.</small>
            </div>
        </div>
        <!-- 2e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{  asset('assets/img/icons/help.png') }}" alt="Ordinateur portable ayant besoins d'aide">
                <h2>Dépannage PC</h2>
                <small>J'aide des proches ou des amis à se familiariser avec l'informatique ainsi que leur apprendre a bien utiliser leur ordinateur, ou bien les aider sur des taches basiques du quotidien.</small>
            </div>
        </div>
        <!-- 4e Bloque -->
        <a class="box" href="/">
            <div class="content">
                <img src="{{ asset('assets/img/icons/exit.png') }}" alt="Sortie">
                <h2>Exit?</h2>
                <small>Un simple retour à la page principale.</small>
            </div>
        </a>
    </div>
{% endblock %}
