{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Etudiant et développeur informatique à Nantes{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/index.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets/img/css/maxime_favicon.jpeg') }}">
{% endblock %}

{% block content %}
    <!-- Bloque Principal -->
    <div class="container">
        <!--1er Bloque -->
        <a class="box" href="{{ path('a-propos') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/people.png') }}" alt="icon people">
                <h1>A Propos</h1>
                <small>Une petite description de qui je suis exactement et ce que j'aime faire</small>
            </div>
        </a>
        <!-- 2e Bloque -->
        <a class="box" href="{{ path('experiences') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/biomass.png') }}" alt="icon biomass">
                <h2>Expériences</h2>
                <small>Retrouvez mes différentes expériences professionnelles que j'ai pu avoir</small>
            </div>
        </a>
        <!-- 3e Bloque -->
        <a class="box" href="{{ path('competences') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/checklist.png') }}" alt="icon checklist">
                <h2>Compétences</h2>
                <small>Mes principales compétences en programmation </small>
            </div>
        </a>
        <!-- 4e Bloque -->
        <a class="box" href="{{ path('cv') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/clipboard.png') }}" alt="icon clipboard">
                <h2>CV</h2>
                <small>Consultez mon curriculum-vitae télécharger le si vous souhaitez</small>
            </div>
        </a>
        <!-- 5e Bloque -->
        <a class="box" href="{{ path('projets') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/rocket.png') }}" alt="icon rocket">
                <h2>Projets</h2>
                <small>Les projets que j'ai réalisés ou bien qui sont en cours de progressions.</small>
            </div>
        </a>
        <!-- 6e Bloque -->
        <a class="box" href="{{ path('stages') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/professions-and-jobs.png') }}" alt="icon work">
                <h2>Stage</h2>
                <small>Mes rapports de stages</small>
            </div>
        </a>
        <!-- 7e Bloque -->
        <a class="box" href="{{ path('recommendation') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/positive-vote.png') }}" alt="icon PouceUp">
                <h2>Recommandation</h2>
                <small>Vous souhaitez me recommander ? Laissez-moi une petite annonce.</small>
            </div>
        </a>
        <!-- 8e Bloque -->
        <a class="box" href="{{ path('contact') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/contact-us.png') }}" alt="icon contact">
                <h2>Contact</h2>
                <small>Me contacter directement par email</small>
            </div>
        </a>
        <!-- 9e Bloque -->
        <a class="box" href="{{ path('liens') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/chain.png') }}" alt="icon link">
                <h2>Link</h2>
                <small>Les liens vers les plateformes que j'utilise</small>
            </div>
        </a>
        <!-- 10e Bloque -->
        <a class="box" href="{{ path('sortie') }}">
            <div class="content">
                <img src="{{ asset('assets/img/icons/exit.png') }}" alt="icon exit">
                <h2>Exit ?</h2>
                <small>Un bloc qui ne sert a rien.</small>
            </div>
        </a>
    </div>
{% endblock %}
