{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Liens{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/experiences.css') }}">

{% endblock %}

{% block content %}
    <!-- Bloque Principale-->
    <div class="container">
        <!-- 1er Bloque-->
        <a class="box" href="https://www.linkedin.com/in/maxime-le-jeune-a11443194">
            <div class="content">
                <img src="{{ asset('assets/img/icons/linkedin.png') }}" alt="icon LinkedIn">
                <h1>LinkedIn</h1>
                <small>Voici mon profil LinkedIn, vous pourrez voir mes compétences, mes badges de réussites et bien plus encore...</small>
            </div>
        </a>
        <!-- 2e Bloque -->
        <a class="box" href="https://gitlab.com/Max_Le_Jeune">
            <div class="content">
                <img src="{{ asset('assets/img/icons/GitLab_Logo.svg.png') }}" alt="le logo de GitLab">
                <h2>GitLab</h2>
                <small> Toudoum le fameux GitLab, l'unique !
                    Tous mes projets sont ici enfin la plus part, moi aussi, j'ai pas mal de projet caché que je serais ravi de vous présenter un jour.
                    Il risque d'y en avoir des nouveaux bientôt restés à la page.
                    Bref, le plus important est ici.
                    Il risque d'y en avoir des nouveaux bientot rester a la page
                    Bref, le plus important est ici.</small>
            </div>
        </a>
        <!-- 3e Bloque -->
        <a class="box" href="https://github.com/MaximeLeJeune">
            <div class="content">
                <img src="{{ asset('assets/img/icons/github.png') }}" alt="le logo de GitHub">
                <h2>GitHub</h2>
                <small>Voici mon Github, personnellement, j'utilise plutôt GitLab, c'est un logiciel libre ! Et je le trouve plus sympa d'utilisation</small>
            </div>
        </a>
        <!-- 4e Bloque-->
        <a class="box" href="/">
            <div class="content">
                <img src="{{ asset('assets/img/icons/exit.png') }}" alt="Une pancarte de sortie">
                <h2>Exit?</h2>
                <small>Retourner sereinement à la page principale sans dégats</small>
            </div>
        </a>
    </div>
{% endblock %}
