{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Mes projets personnels{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/competences.css') }}">

{% endblock %}

{% block content %}
    <div class=container>
        <!-- 1er Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/responsive.png') }}" alt="Un ordinateur et une tablette">
                <h1>Site Internet</h1>
                <small>Realisation de plusieurs site web, dont ce portfolio plutôt original.</small>
            </div>
        </div>

        <!-- 2e Bloque -->
        <!-- 6e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/smartphone.png') }}" alt="un simple smartphone">
                <h2>Todolist & calculatrice</h2>
                <small>Une application faites avec Flutter, une simple Todolist ainsi qu'une calculatrice tout ca pour commencer avec la cette techno promettante</small>
            </div>
        </div>

        <!-- 3e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/symfony.png') }}" alt="le logo du framework symfony">
                <h2>Symfony</h2>
                <small>J'ai pu grâce a Symfony refaire tout ce site avec une grande simplicité.</small>
            </div>
        </div>

        <!-- 4e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/joystick.png') }}" alt="Un joystick de jeux video">
                <h2>Python</h2>
                <small>Plusieurs petits projets en python dont des petits algorithmes, ainsi que des petits jeux.</small>
            </div>
        </div>

        <!-- 5e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/connections.png') }}" alt="l'icon pour partager">
                <h2>ShareDocs</h2>
                <small>Une plateforme de partage de documents avec un espace membre, tu peux changer de pseudo, ton mot de passe, et même ajouter ton e-mail ou bien ton prénom</small>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/dashboard.png') }}" alt="page d'administration de site internet">
                <h2>Admin Page</h2>
                <small>J'ai fais une page d'administration en php pour mon portfolio. Ce qui me permet une meilleure gestion de mon site. </small>
            </div>
        </div>

        <!-- 7e Bloque -->
        <a class="box" href="/">
            <div class="content">
                <img src="{{ asset('assets/img/icons/exit.png') }}" alt="pancarte de sortie">
                <h2>Exit?</h2>
                <small>Un simple retour à la page principale.</small>
            </div>
        </a>
    </div>
{% endblock %}
