{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - La sortie du site{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/error.css') }}">
{% endblock %}

{% block content %}
    <div class=container>
        <div class="box">
            <div class="content">
                <!-- Icon Error 404 -->
                <img src="{{ asset('assets/img/icons/nature.png') }}" alt="montre de couleur jaune avec plusieurs yeux et tentacules">
                <h1>
                    <p>It was a trap !</p>
                </h1>
                <small>Hurry up and get out of here before he catches you.</small><br><br>
                {% if is_granted('ROLE_ADMIN') %}
                    <a style="color: white" href="/admin">Vous etes administrteur, acceder au back office ?</a><br><br>
                    <a href="{{ path('app_logout') }}"> Deconnexion</a>
                {% endif %}
                <!-- Bouton Retour Page principale -->
                <div id="buttonsType">
                    <input type="button" onclick="window.location.href='/'" value="Back to the main page." />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
