{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Mes rapport de stages{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/experiences.css') }}">

{% endblock %}

{% block content %}
    <!-- Bloque Principale-->
    <div class="container">
        <!-- 1er Bloque-->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/laptop.png') }}" alt="icon desk">
                <h1>Stage Technicien Informatique</h1>
                <small>J'ai reconditionné des ordinateurs portables & des tours, J'ai effectué des changements de dalle, claviers, Disque Dur, SSD, RAM. Durée du stage 5 semaines.</small><br><br>
                <div id="buttonsType">
                    <input type="button" onclick="window.location.href='../dossier/LE-JEUNE-MaximeRapportDeStage.pdf'" value="Rapport de Stage" /><br><br>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/passedevant.png') }}" alt="icon Plant">
                <h2>Stage chez Passedevant</h2>
                <small>Je me suis occuper de développer une app web pendant 2 mois avant d'être pris en alternance pour 2ans. Ce fut un stage très enrichissant</small>
            </div>
        </div>

        <!-- 2e Bloque -->
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/desk.png') }}" alt="icon desk">
                <h2>Stage en Bureau d'Etude</h2>
                <small>J'ai dû réaliser des plans d'un bâtiment via un logiciel, nous avons fait un travail en équipe. Durée du stage 1 semaine.</small>
            </div>
        </div>
        <!-- 4e Bloque-->
        <a class="box" href="/">
            <div class="content">
                <img src="{{ asset('assets/img/icons/exit.png') }}" alt="icon Exit">
                <h2>Exit?</h2>
                <small>Un simple retour à la page principale.</small>
            </div>
        </a>
    </div>
{% endblock %}
