@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*Link*/

#specialPage {
    text-decoration: none;
    color: white;
    cursor: initial;
}


/* Style qui concerne le corps de la page*/

body {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background: #222;
}


/* Container ou il y a tout dedans*/

.container {
    position: relative;
    max-width: 100%;
    display: grid;
    margin: 20px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}


/* Cible le container suivit de la class box */

.container .box {
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    border-radius: 12px;
}


/* Cible le container suivit de la class box on vise l'image */

.container .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}


/* Le bouton*/

input {
    padding: 10px;
}


/* bouton retour a la page principale */

#buttonsType {
    text-align: center;
}

#buttonsType input {
    text-align: center;
    border: 1px solid #888;
    border-width: 1px 1px 5px;
    border-radius: 12px;
    padding: 15px;
}

#buttonsType input:active {
    text-align: center;
    border: none;
    border-width: 1px 1px 3px;
    border-radius: 12px;
    padding: 15px;
    background-color: #888;
}


/* Par rapport a l'image qui est en l'occurence mon CV */

#CV {
    width: 860px;
    height: 1245px;
}


/* Media Queries pour le rendre RWD */

@media (max-width: 991px) {
    #CV {
        width: 375px;
        height: 475px;
    }
}


/* On rend les input ecrit en bold*/

input[type="button"] {
    font-weight: bold;
}

input[type="button"]:hover {
    background: #fff;
}