/* Parametre principale du formulaire */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.form-style {
    max-width: 900px;
    padding: 10px 20px;
    background: #f4f7f8;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.form-style fieldset {
    border: none;
}

.form-style legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}


/* Champs du formulaire par les type des inputs */

.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="tel"],
.form-style input[type="password"],
.form-style textarea,
.form-style select {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 7px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}


/* L'indice tout en haut du formulaire */

.form-style .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}


/* bouton Envoyer */

.form-style button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: auto;
    border: 1px solid #16a085;
    border-width: 1px 1px 8px;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
}


/* bouton Envoyer quand on passe dessus */

.form-style input[type="submit"]:hover {
    background: #109177;
    transition: 0.5s;
}


/* Zone de Text ou on ecrit le message */

#Area {
    min-height: 150px;
    max-height: 350px;
}


/* card ou s'affiche les recommandations */

#card {
    text-align: center;
    max-width: 900px;
    border: 3px solid #444;
    border-radius: 7px;
    padding: 20px;
}