{% extends 'base.html.twig' %}

{% block title %}Maxime LE JEUNE - Recommandations{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/error.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/formulaires.css') }}">
{% endblock %}

{% block content %}

    <!-- Bloque Principale -->
    <div class=container>
        <div class="box">
            <div class="content">
                <img src="{{ asset('assets/img/icons/positive-vote.png') }}" alt="icon Positive Vote">
                <h1>Avis</h1>
                <p>Tous les champs sont requis *</p>
            </div>
        </div>
        <!-- Formulaire -->
        {% for message in app.flashes('notice') %}
            <div style="background: #1abc9c; padding: 20px; border-radius: 20px;">
                {{ message }}
            </div>
        {% endfor %}
        <div class="form-style">
            {{ form(form) }}
        </div><br>

        {% for recommandation in recommandations %}
        <div id="card" style="color:white;">
            <h2><b> {{ recommandation.name }} {{ recommandation.lastname}} </b></h2>
            <h3> {{ recommandation.compagny }} </h3><br>
            <p> {{ recommandation.message}} </p><br>
        </div><br>
        {% endfor %}

        <div id="buttonsType">
            <input type="button" onclick="window.location.href='/'" value="Retour à la page principale." />
        </div>
    </div>

{% endblock %}
