{% extends 'base.html.twig' %}

{% block content %}

    <h1>Inscription</h1>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}
    {{ form(form) }}

{% endblock %}