<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-17NP77G70P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MNG96BBPXW');
    </script>


    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{{ asset('assets/img/icons/maxime_favicon.jpeg') }}"/>
    {% block meta %}
        <meta name="description" content="Les balises méta codent les informations de pages HTML pour les navigateurs et les moteurs de recherche. Mais quelles données sont vraiment importantes ? "/>
        <meta name="author" content="nom de l’auteur" />
        <meta name="copyright" content="propriétaire du copyright" />
        {# <meta name="description" content=<?= $description;?>/>
        <link rel="canonical" href="<?= $canonical?>" /> #}
    {% endblock %}
    <!-- Link CSS -->
    <title>{% block title %} Maxime LE JEUNE - Concepteur Développeur d'Application  {% endblock %}</title>
    <!-- Bootstrap core CSS -->
    {% block css %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
